<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b1502.store2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".StoreApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.AppraiseActivity" />
        <activity android:name=".activity.AddActivity" />
        <activity android:name=".activity.CollectActivity" />
        <activity android:name=".activity.PointsActivity" />
        <activity android:name=".activity.CouponActivity" />
        <activity android:name=".activity.AccountActivity" />
        <activity android:name=".activity.QuitActivity"></activity>
        <activity android:name=".activity.ProductDetailActivity"></activity>
        <activity android:name=".activity.QuitActivity" />
        <activity android:name=".activity.ConfirmorderActivity"></activity>
    </application>

</manifest>